@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap");

* {
  font-family: sans-serif;
}
.App {
  height: fit-content;
  width: 100%;
  color: white !important;
}

.page-header {
  height: 90px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .form-generate {
    flex-wrap: wrap !important;
  }
}
